@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  background-image: url(drum.jpg);
  background-size: inherit;
}
.text {
  font-size: 8rem;
  text-align: center;
  margin-top: 5rem;
  font-style: italic;
  font-weight: 600;
  font-family: 'Fuzzy Bubbles', cursive;
  color: teal;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.drum-kit {
  display: flex;
  justify-content: center;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 44%;
}
.git {
  position: absolute;
  right: 2%;
  top: 2%;
}
.button {
  font-size: 4rem;
  color: purple;
  border: 4px solid black;
  width: 120px;
  text-align: center;
  font-weight: 900;
  padding: 0.5rem 1rem;
  transition: all 0.1s;
  margin: 1rem;
}
.lower {
  font-size: 17px;
  color: yellow;
  text-transform: uppercase;
  display: flex;
  font-weight: 100;
  flex-direction: column;
  padding: 2px;
}
.trans {
  transform: scale(0.9);
  border-color: yellow;
  box-shadow: 0 0 10px yellow;
}

@media screen and (max-width: 1200px) {
  .drum-kit {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 920px) {
  .text {
    font-size: 6.5rem;
  }
}

@media screen and (max-width: 650px) {
  .text {
    font-size: 4rem;
  }
}

@media screen and (max-width: 750px) {
  .text {
    font-size: 5.5rem;
  }
}
